
/* HOME PAGE */

#home-page body{
    background: red;
}

#logo {
    position: absolute;
    bottom: 10%;
    left: 3%;
}

#menu {
    position: absolute;
    right: 3%;
    top: 3%;
}


/* GENERAL */
* {
    margin: 0;
    padding: 0;

}

h1 {
    font-family: 'Rubik';
    font-style: italic;
    line-height: 75%;
    font-size: 15em;
}

.button {
    font-family: 'Lato';
    font-size: 1.3em;
    text-align: right;
    padding: 10px;    
}

a {
    cursor: pointer;
    color: black;
    text-decoration: none;
}







